.home__logement {
    width: fit-content;
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2% 6%;
    padding: 2%;
    border-radius: 20px;

}